src/main/configurations/Translate/CreeerZaak_LK01/xsd/AndereZaakBodyToJson.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="container">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="relevanteAndereZaken" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="relevanteAndereZaken">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="url"/>
                <xs:element name="aardRelatie"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>