src/main/configurations/Translate/CreeerZaak_LK01/xsd/ZgwRolNietNatuurlijkPersoon.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="zgwRol">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zaak" type="zgwUri"/>
                <xs:element name="betrokkene" type="zgwUri" minOccurs="0"/>
                <xs:element name="betrokkeneType" type="zgwBetrokkeneType"/>
                <xs:element name="roltype" type="zgwUri"/>
                <xs:element name="roltoelichting" type="zgwAN1000"/>
                <xs:element name="indicatieMachtiging" type="zgwIndicatieMachtiging" minOccurs="0"/>
                <xs:element name="betrokkeneIdentificatie" type="zgwNietNatuurlijkPersoon" minOccurs="0"/>                    
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="zgwNietNatuurlijkPersoon">
        <xs:sequence>
            <xs:element name="innNnpId" type="zgwAN9" minOccurs="0"/>
            <xs:element name="annIdentificatie" type="zgwAN17" minOccurs="0"/>
            <xs:element name="statutaireNaam" type="zgwAN500" minOccurs="0"/>
            <xs:element name="innRechtsvorm" type="zgwInnRechtsvorm" minOccurs="0"/>
            <xs:element name="bezoekadres" type="zgwAN1000" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="zgwAN9">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwAN17">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="17"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwAN500">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="500"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwAN1000">
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwUri">
        <xs:restriction base="xs:anyURI">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwBetrokkeneType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="natuurlijk_persoon"/>
            <xs:enumeration value="niet_natuurlijk_persoon"/>
            <xs:enumeration value="vestiging"/>
            <xs:enumeration value="organisatorische_eenheid"/>
            <xs:enumeration value="medewerker"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwIndicatieMachtiging">
        <xs:restriction base="xs:string">
            <xs:enumeration value="gemachtigde"/>
            <xs:enumeration value="machtinggever"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwInnRechtsvorm">
        <xs:restriction base="xs:string">
            <xs:enumeration value="besloten_vennootschap"/>
            <xs:enumeration value="cooperatie_europees_economische_samenwerking"/>
            <xs:enumeration value="europese_cooperatieve_venootschap"/>
            <xs:enumeration value="europese_naamloze_vennootschap"/>
            <xs:enumeration value="kerkelijke_organisatie"/>
            <xs:enumeration value="naamloze_vennootschap"/>
            <xs:enumeration value="onderlinge_waarborg_maatschappij"/>
            <xs:enumeration value="overig_privaatrechtelijke_rechtspersoon"/>
            <xs:enumeration value="stichting"/>
            <xs:enumeration value="vereniging"/>
            <xs:enumeration value="vereniging_van_eigenaars"/>
            <xs:enumeration value="publiekrechtelijke_rechtspersoon"/>
            <xs:enumeration value="vennootschap_onder_firma"/>
            <xs:enumeration value="maatschap"/>
            <xs:enumeration value="rederij"/>
            <xs:enumeration value="commanditaire_vennootschap"/>
            <xs:enumeration value="kapitaalvennootschap_binnen_eer"/>
            <xs:enumeration value="overige_buitenlandse_rechtspersoon_vennootschap"/>
            <xs:enumeration value="kapitaalvennootschap_buiten_eer"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema> 