src/main/configurations/Translate/creeerZaak_Lk01/xsd/ZgwStatus.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="zgwStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zaak" type="zgwUri"/>
                <xs:element name="statustype" type="zgwUri"/>
                <xs:element name="datumStatusGezet" type="xs:dateTime"/>
                <xs:element name="statustoelichting" type="zgwToelichting" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:simpleType name="zgwDatetime">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]+)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])[Tt]([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?(([Zz])|([\+|\-]([01][0-9]|2[0-3]):[0-5][0-9]))"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="zgwToelichting">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="zgwUri">
        <xs:restriction base="xs:anyURI">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema> 