src/main/configurations/Translate/creeerZaak_Lk01/xsd/ZgwZaak.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="zgwZaak">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="identificatie" type="zgwIdentificatie" minOccurs="0"/>
                <xs:element name="bronorganisatie" type="zgwRsin"/>
                <xs:element name="omschrijving" type="zgwOmschrijving" minOccurs="0"/>
                <xs:element name="toelichting" type="zgwToelichting" minOccurs="0"/>
                <xs:element name="zaaktype" type="zgwUri"/>
                <xs:element name="registratiedatum" type="xs:date" minOccurs="0"/>
                <xs:element name="verantwoordelijkeOrganisatie" type="zgwRsin"/>
                <xs:element name="startdatum" type="xs:date"/>
                <xs:element name="einddatumGepland" type="xs:date" minOccurs="0" nillable="true"/>
                <xs:element name="uiterlijkeEinddatumAfdoening" type="xs:date" minOccurs="0" nillable="true"/>
                <xs:element name="publicatiedatum" type="xs:date" minOccurs="0" nillable="true"/>
                <xs:element name="communicatiekanaal" type="zgwUri" minOccurs="0"/>
                <xs:element name="productenOfDiensten" type="zgwUri" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="vertrouwelijkheidaanduiding" type="zgwVertrouwelijkheidaanduiding" minOccurs="0"/>
                <xs:element name="betalingsindicatie" type="zgwbetalingsindicatie" minOccurs="0"/>
                <xs:element name="laatsteBetaaldatum" type="xs:dateTime" minOccurs="0" nillable="true"/>
                <!-- zaakgeometrie -->
                <xs:element name="verlenging" type="zgwVerlenging" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                <xs:element name="opschorting" type="zgwOpschorting" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
                <xs:element name="selectielijstklasse" type="zgwUri" minOccurs="0"/>
                <xs:element name="hoofdzaak" type="zgwUri" minOccurs="0" nillable="true"/>
                <xs:element name="relevanteAndereZaken" type="zgwRelevanteAndereZaken" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="kenmerken" type="zgwKenmerken" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="archiefnominatie" type="zgwArchiefnominatie" minOccurs="0" nillable="true"/>
                <xs:element name="archiefstatus" type="zgwArchiefstatus" minOccurs="0"/>
                <xs:element name="archiefdatum" type="xs:date" minOccurs="0" nillable="true"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
        <xs:complexType name="zgwKenmerken">
            <xs:sequence>
                <xs:element name="kenmerk" type="zgwKenmerk"/>
                <xs:element name="bron" type="zgwBron"/>
            </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="zgwKenmerk">
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="40"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="zgwBron">
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="40"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:complexType name="zgwRelevanteAndereZaken">
            <xs:sequence>
                <xs:element name="url" type="zgwUri"/>
                <xs:element name="aardRelatie" type="zgwAardRelatie"/>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="zgwOpschorting">
            <xs:sequence>
                <xs:element name="indicatie" type="xs:boolean"/>
                <xs:element name="reden" type="zgwReden"/>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="zgwVerlenging">
            <xs:sequence>
                <xs:element name="reden" type="zgwReden"/>
                <xs:element name="duur" type="xs:duration"/>
            </xs:sequence>
        </xs:complexType>
        <xs:simpleType name="zgwReden">
            <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="200"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="zgwIdentificatie">
            <xs:restriction base="xs:string">
                 <xs:maxLength value="40"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="zgwOmschrijving">
            <xs:restriction base="xs:string">
                 <xs:maxLength value="80"/>
            </xs:restriction>
        </xs:simpleType>
        <xs:simpleType name="zgwToelichting">
            <xs:restriction base="xs:string">
                 <xs:maxLength value="1000"/>
            </xs:restriction>
        </xs:simpleType>
    <xs:simpleType name="zgwRsin">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{9}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwUri">
        <xs:restriction base="xs:anyURI">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwDate">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]{4})-(1[0-2]|0[1-9])"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwDatetime">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]+)-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])[Tt]([01][0-9]|2[0-3]):([0-5][0-9]):([0-5][0-9]|60)(\.[0-9]+)?(([Zz])|([\+|\-]([01][0-9]|2[0-3]):[0-5][0-9]))"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwVertrouwelijkheidaanduiding">
        <xs:restriction base="xs:string">
            <xs:enumeration value="openbaar"/>
            <xs:enumeration value="beperkt_openbaar"/>
            <xs:enumeration value="intern"/>
            <xs:enumeration value="zaakvertrouwelijk"/>
            <xs:enumeration value="vertrouwelijk"/>
            <xs:enumeration value="confidentieel"/>
            <xs:enumeration value="geheim"/>
            <xs:enumeration value="zeer_geheim"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwbetalingsindicatie">
        <xs:restriction base="xs:string">
            <xs:enumeration value="nvt"/>
            <xs:enumeration value="nog_niet"/>
            <xs:enumeration value="gedeeltelijk"/>
            <xs:enumeration value="geheel"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwAardRelatie">
        <xs:restriction base="xs:string">
            <xs:enumeration value="vervolg"/>
            <xs:enumeration value="onderwerp"/>
            <xs:enumeration value="bijdrage"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwArchiefnominatie">
        <xs:restriction base="xs:string">
            <xs:enumeration value="blijvend_bewaren"/>
            <xs:enumeration value="vernietigen"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="zgwArchiefstatus">
        <xs:restriction base="xs:string">
            <xs:enumeration value="nog_te_archiveren"/>
            <xs:enumeration value="gearchiveerd"/>
            <xs:enumeration value="gearchiveerd_procestermijn_onbekend"/>
            <xs:enumeration value="overgedragen"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema> 