src/main/configurations/Translate/Zgw/Besluiten/Model/PostZgwBesluit.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:zgw="http://google.com/zgw">
<xs:import namespace="http://google.com/zgw" schemaLocation="../ZgwBesluitenApi.xsd" />
    <xs:element name="ZgwBesluit">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="identificatie" type="zgw:AN0_40" minOccurs="0"/>
                <xs:element name="verantwoordelijkeOrganisatie" type="zgw:Rsin" />
                <xs:element name="besluittype" type="zgw:Uri1_1000"/>
                <xs:element name="zaak" type="zgw:Uri1_1000" minOccurs="0"/>
                <xs:element name="datum" type="xs:date"/>
                <xs:element name="toelichting" type="xs:string" minOccurs="0"/>
                <xs:element name="bestuursorgaan" type="zgw:AN0_50" minOccurs="0"/>
                <xs:element name="ingangsdatum" type="xs:date"/>
                <xs:element name="vervaldatumdatum" type="xs:date" minOccurs="0"/>
                <xs:element name="vervalreden" type="zgw:vervalreden" minOccurs="0"/>
                <xs:element name="publicatiedatum" type="xs:date" minOccurs="0"/>
                <xs:element name="verzenddatum" type="xs:date" minOccurs="0"/>
                <xs:element name="uiterlijkeReactiedatum" type="xs:date" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema> 