src/main/configurations/Translate/Zgw/Zaken/Model/PostZgwZaak.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:zgw="http://www.wearefrank.nl/zgw">
    <xs:import namespace="http://www.wearefrank.nl/zgw" schemaLocation="../ZgwZakenApi.xsd" />
    <xs:element name="ZgwZaak">
        <xs:complexType>
            <xs:sequence>
                <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="productenOfDiensten" type="zgw:Uri1_1000" minOccurs="0" maxOccurs="unbounded"/>
                <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="relevanteAndereZaken" type="RelevanteAndereZaken" minOccurs="0" maxOccurs="unbounded"/>
                <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="eigenschappen" type="zgw:Uri1_1000" minOccurs="0" maxOccurs="unbounded"/>
                <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="kenmerken" type="Kenmerken" minOccurs="0" maxOccurs="unbounded"/>
                <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="RelevanteAndereZaken">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Kenmerken">
        <xs:sequence>
            <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema> 