src/main/configurations/Zaken API - 1.2.0/CreateZaak_LK01/xsd/ZgwResultaat.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="zgwResultaat">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="zaak" type="zgwUri"/>
                <xs:element name="resultaattype" type="zgwUri"/>
                <xs:element name="toelichting" type="zgwToelichting" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>    
    
    <xs:simpleType name="zgwToelichting">
        <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="zgwUri">
        <xs:restriction base="xs:anyURI">
            <xs:minLength value="1"/>
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema> 