src/main/configurations/Zaken API - 1.2.0/ManageAPI/xsd/ManageAPI.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:zgw="http://google.com/zgw">
    <!--<xs:import namespace="http://google.com/zgw" schemaLocation="../ZgwZakenApi.xsd" />-->
    <xs:element name="ManageApiRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Method" type="MethodBodyType" minOccurs="0" maxOccurs="unbounded" />  
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="ManageApiResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Method" type="MethodBodyType" minOccurs="0" maxOccurs="unbounded" />  
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="MethodBodyType">
            <xs:sequence>
                <xs:element name="Url" type="xs:string" maxOccurs="1" />
                <xs:element name="Param" minOccurs="0" maxOccurs="unbounded">
                	<xs:complexType>
			           <xs:sequence>
			               <xs:element name="Name" type="xs:string" minOccurs="0"/>
			               <xs:element name="Value" type="xs:string" minOccurs="0"/>
			           </xs:sequence>
			       </xs:complexType>
                </xs:element>
                <xs:element name="Body" type="xs:string" minOccurs="0" maxOccurs="1" />
            </xs:sequence>
            <xs:attribute name="type" use="required">
		        <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="POST"/>
						<xs:enumeration value="GET"/>
						<xs:enumeration value="PUT"/>
						<xs:enumeration value="PATCH"/>
						<xs:enumeration value="DELETE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
    </xs:complexType>
</xs:schema> 